.MIN_FORM_ROTULO {
    font-size: 12px;
}

.FORM_ROTULO {
    font-weight: bold;
    font-size: 12px;
}

.FORM_ROTULO_HEAD {
    font-weight: bold;
    font-size: 20px;
}

.CUERPEROTULO {
    font-size: 12px;
}
